<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="">

<p>Nombre: <input type="text" ng-model="name"></p>
<p>{{name}}</p>
<p>Fecha de Nacimiento: <input type="text" ng-model="nacimiento"></p>
<p>{{nacimiento}}</p>
<p>Canastas: <input type="text" ng-model="canastas"></p>
<p>{{canastas}}</p>
<p>Asistencias: <input type="text" ng-model="asistencias"></p>
<p>{{asistencias}}</p>
<p>Rebotes: <input type="text" ng-model="rebotes"></p>
<p>{{rebotes}}</p>
<p>Posicion: <input type="text" ng-model="posicion"></p>
<p>{{posicion}}</p>
<p>La directiva ng-model encadena el input a la informacion de la aplicacion y con los doble {{ }} la muestran</p>
</div>

</body>
</html>
