<!DOCTYPE html>
<html>
<style>
    table, td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl">

    <p>Any:<input type="text" ng-model="search.$"></p>
    <p>Nombre:<input type="text" ng-model="search.name"></p>
    <p>Canastas:<input type="text" ng-model="search.canastas"></p>
    <p>Asistencias:<input type="text" ng-model="search.asistencias"></p>
    <p>Fecha de nacimiento:<input type="text" ng-model="search.birthDate"></p>
    <p>Equipo:<input type="text" ng-model="search.equipo.nombre"></p>
    <p>Posicion:<input type="text" ng-model="search.posicion"></p>
    <p>Rebotes:<input type="text" ng-model="search.rebotes"></p>

    <table>
        <tr ng-repeat="x in myData | filter:search:strict" >
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.name }}</td>
            <td ng-if="$even">
                {{ x.name }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.canastas }}</td>
            <td ng-if="$even">
                {{ x.canastas }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.asistencias }}</td>
            <td ng-if="$even">
                {{ x.asistencias }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.birthDate }}</td>
            <td ng-if="$even">
                {{ x.birthDate }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.equipo.nombre }}</td>
            <td ng-if="$even">
                {{ x.equipo.nombre }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.posicion }}</td>
            <td ng-if="$even">
                {{ x.posicion }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.rebotes }}</td>
            <td ng-if="$even">
                {{ x.rebotes }}</td>
        </tr>
    </table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("api/jugadors").then(function (response) {
            $scope.myData = response.data;
        });
    });
</script>

</body>
</html>
